<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>{{labelName()}}</mat-label>
        <input type="text"
            placeholder="Choose country"
            aria-label="String"
            matInput
            [formControl]="myControl()"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option.key">{{option.value}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</form>
